In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options

from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select

import mysql.connector
import pandas as pd
from datetime import datetime

In [2]:
# CVS 파일 읽기
df = pd.read_excel("../data/예금은행 대출금리_20248130131449.xlsx", 
                   header=None,
                   usecols="A:MG",
                   skiprows=25,
                   nrows = 5,
                    dtype=str
                   )

# 데이터 전처리
df.reset_index(drop=True, inplace=True)
df_loan_interest_rate= df.transpose()
df_loan_interest_rate.rename(columns=df.iloc[0], inplace=True)
df_loan_interest_rate.drop([0], inplace=True)
df_loan_interest_rate.reset_index(drop=True, inplace=True)
df_loan_interest_rate.columns = ['date', 'average_loan', 'corporate_loan', 'household_loan', 'public_and_other_sector_loan']

df_loan_interest_rate.loc[[9, 21, 33, 45], 'date'] = ['1996.10', '1997.10', '1998.10', '1999.10']

# date 형식 변환
df_loan_interest_rate['date'] = pd.to_datetime(df_loan_interest_rate['date'], format="%Y.%m")

# 데이터프레임을 엑셀 파일로 저장
df_loan_interest_rate.to_excel("../data/loan_interest_rate.xlsx", index=False, engine='openpyxl')

print(df_loan_interest_rate)

          date average_loan corporate_loan household_loan  \
0   1996-01-01        11.43          11.14          12.52
1   1996-02-01        11.47          11.21           12.5
2   1996-03-01        11.37          11.11          12.46
3   1996-04-01        11.11          10.91          12.13
4   1996-05-01        11.24           11.1          12.09
..         ...          ...            ...            ...
339 2024-04-01         4.77           4.88           4.48
340 2024-05-01         4.78            4.9           4.49
341 2024-06-01         4.71           4.88           4.26
342 2024-07-01         4.55           4.78           4.06
343 2024-08-01         4.48           4.67           4.08

    public_and_other_sector_loan
0                           9.77
1                          10.06
2                          10.36
3                          11.27
4                          11.31
..                           ...
339                         4.61
340                         4.24
341                          4.5
342                         4.19
343                         4.61

[344 rows x 5 columns]

/home/naon/dev_ws/eda_repo/.venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
import mysql.connector

conn = mysql.connector.connect(
    host = "eda-database.c3oek28e8yta.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "whskdhs",
    password = "whskdhs1234",
    database = "workspace"
)

cursor = conn.cursor(buffered=True)

df = pd.read_excel('../data/loan_interest_rate.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          344 non-null    datetime64[ns]
 1   average_loan                  344 non-null    float64
 2   corporate_loan                344 non-null    float64
 3   household_loan                344 non-null    float64
 4   public_and_other_sector_loan  344 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 13.6 KB

In [5]:
# 데이터베이스에 저장
def insert_data_to_loan_interest_rate(conn, cursor, df):
    try:
        for i, row, in df.iterrows():
            sql_loan = "INSERT INTO loan_interest_rate VALUES (%s, %s, %s, %s, %s)"
            values_loan = (row['date'], row['average_loan'], row['corporate_loan'], row['household_loan'], row['public_and_other_sector_loan'])
            cursor.execute(sql_loan, values_loan)
            print(f"Inserted row {i+1} into article: {row['date']}")
            conn.commit()
    
    except mysql.connector.Error as error:
        print(f"Error inserting data: {error}")

In [6]:
insert_data_to_loan_interest_rate(conn, cursor, df)

Inserted row 1 into article: 1996-01-01 00:00:00
Inserted row 2 into article: 1996-02-01 00:00:00
Inserted row 3 into article: 1996-03-01 00:00:00
Inserted row 4 into article: 1996-04-01 00:00:00
Inserted row 5 into article: 1996-05-01 00:00:00
Inserted row 6 into article: 1996-06-01 00:00:00
Inserted row 7 into article: 1996-07-01 00:00:00
Inserted row 8 into article: 1996-08-01 00:00:00
Inserted row 9 into article: 1996-09-01 00:00:00
Inserted row 10 into article: 1996-10-01 00:00:00
Inserted row 11 into article: 1996-11-01 00:00:00
Inserted row 12 into article: 1996-12-01 00:00:00
Inserted row 13 into article: 1997-01-01 00:00:00
Inserted row 14 into article: 1997-02-01 00:00:00
Inserted row 15 into article: 1997-03-01 00:00:00
Inserted row 16 into article: 1997-04-01 00:00:00
Inserted row 17 into article: 1997-05-01 00:00:00
Inserted row 18 into article: 1997-06-01 00:00:00
Inserted row 19 into article: 1997-07-01 00:00:00
Inserted row 20 into article: 1997-08-01 00:00:00
Inserted row 21 into article: 1997-09-01 00:00:00
Inserted row 22 into article: 1997-10-01 00:00:00
Inserted row 23 into article: 1997-11-01 00:00:00
Inserted row 24 into article: 1997-12-01 00:00:00
Inserted row 25 into article: 1998-01-01 00:00:00
Inserted row 26 into article: 1998-02-01 00:00:00
Inserted row 27 into article: 1998-03-01 00:00:00
Inserted row 28 into article: 1998-04-01 00:00:00
Inserted row 29 into article: 1998-05-01 00:00:00
Inserted row 30 into article: 1998-06-01 00:00:00
Inserted row 31 into article: 1998-07-01 00:00:00
Inserted row 32 into article: 1998-08-01 00:00:00
Inserted row 33 into article: 1998-09-01 00:00:00
Inserted row 34 into article: 1998-10-01 00:00:00
Inserted row 35 into article: 1998-11-01 00:00:00
Inserted row 36 into article: 1998-12-01 00:00:00
Inserted row 37 into article: 1999-01-01 00:00:00
Inserted row 38 into article: 1999-02-01 00:00:00
Inserted row 39 into article: 1999-03-01 00:00:00
Inserted row 40 into article: 1999-04-01 00:00:00
Inserted row 41 into article: 1999-05-01 00:00:00
Inserted row 42 into article: 1999-06-01 00:00:00
Inserted row 43 into article: 1999-07-01 00:00:00
Inserted row 44 into article: 1999-08-01 00:00:00
Inserted row 45 into article: 1999-09-01 00:00:00
Inserted row 46 into article: 1999-10-01 00:00:00
Inserted row 47 into article: 1999-11-01 00:00:00
Inserted row 48 into article: 1999-12-01 00:00:00
Inserted row 49 into article: 2000-01-01 00:00:00
Inserted row 50 into article: 2000-02-01 00:00:00
Inserted row 51 into article: 2000-03-01 00:00:00
Inserted row 52 into article: 2000-04-01 00:00:00
Inserted row 53 into article: 2000-05-01 00:00:00
Inserted row 54 into article: 2000-06-01 00:00:00
Inserted row 55 into article: 2000-07-01 00:00:00
Inserted row 56 into article: 2000-08-01 00:00:00
Inserted row 57 into article: 2000-09-01 00:00:00
Inserted row 58 into article: 2000-10-01 00:00:00
Inserted row 59 into article: 2000-11-01 00:00:00
Inserted row 60 into article: 2000-12-01 00:00:00
Inserted row 61 into article: 2001-01-01 00:00:00
Inserted row 62 into article: 2001-02-01 00:00:00
Inserted row 63 into article: 2001-03-01 00:00:00
Inserted row 64 into article: 2001-04-01 00:00:00
Inserted row 65 into article: 2001-05-01 00:00:00
Inserted row 66 into article: 2001-06-01 00:00:00
Inserted row 67 into article: 2001-07-01 00:00:00
Inserted row 68 into article: 2001-08-01 00:00:00
Inserted row 69 into article: 2001-09-01 00:00:00
Inserted row 70 into article: 2001-10-01 00:00:00
Inserted row 71 into article: 2001-11-01 00:00:00
Inserted row 72 into article: 2001-12-01 00:00:00
Inserted row 73 into article: 2002-01-01 00:00:00
Inserted row 74 into article: 2002-02-01 00:00:00
Inserted row 75 into article: 2002-03-01 00:00:00
Inserted row 76 into article: 2002-04-01 00:00:00
Inserted row 77 into article: 2002-05-01 00:00:00
Inserted row 78 into article: 2002-06-01 00:00:00
Inserted row 79 into article: 2002-07-01 00:00:00
Inserted row 80 into article: 2002-08-01 00:00:00
Inserted row 81 into article: 2002-09-01 00:00:00
Inserted row 82 into article: 2002-10-01 00:00:00
Inserted row 83 into article: 2002-11-01 00:00:00
Inserted row 84 into article: 2002-12-01 00:00:00
Inserted row 85 into article: 2003-01-01 00:00:00
Inserted row 86 into article: 2003-02-01 00:00:00
Inserted row 87 into article: 2003-03-01 00:00:00
Inserted row 88 into article: 2003-04-01 00:00:00
Inserted row 89 into article: 2003-05-01 00:00:00
Inserted row 90 into article: 2003-06-01 00:00:00
Inserted row 91 into article: 2003-07-01 00:00:00
Inserted row 92 into article: 2003-08-01 00:00:00
Inserted row 93 into article: 2003-09-01 00:00:00
Inserted row 94 into article: 2003-10-01 00:00:00
Inserted row 95 into article: 2003-11-01 00:00:00
Inserted row 96 into article: 2003-12-01 00:00:00
Inserted row 97 into article: 2004-01-01 00:00:00
Inserted row 98 into article: 2004-02-01 00:00:00
Inserted row 99 into article: 2004-03-01 00:00:00
Inserted row 100 into article: 2004-04-01 00:00:00
Inserted row 101 into article: 2004-05-01 00:00:00
Inserted row 102 into article: 2004-06-01 00:00:00
Inserted row 103 into article: 2004-07-01 00:00:00
Inserted row 104 into article: 2004-08-01 00:00:00
Inserted row 105 into article: 2004-09-01 00:00:00
Inserted row 106 into article: 2004-10-01 00:00:00
Inserted row 107 into article: 2004-11-01 00:00:00
Inserted row 108 into article: 2004-12-01 00:00:00
Inserted row 109 into article: 2005-01-01 00:00:00
Inserted row 110 into article: 2005-02-01 00:00:00
Inserted row 111 into article: 2005-03-01 00:00:00
Inserted row 112 into article: 2005-04-01 00:00:00
Inserted row 113 into article: 2005-05-01 00:00:00
Inserted row 114 into article: 2005-06-01 00:00:00
Inserted row 115 into article: 2005-07-01 00:00:00
Inserted row 116 into article: 2005-08-01 00:00:00
Inserted row 117 into article: 2005-09-01 00:00:00
Inserted row 118 into article: 2005-10-01 00:00:00
Inserted row 119 into article: 2005-11-01 00:00:00
Inserted row 120 into article: 2005-12-01 00:00:00
Inserted row 121 into article: 2006-01-01 00:00:00
Inserted row 122 into article: 2006-02-01 00:00:00
Inserted row 123 into article: 2006-03-01 00:00:00
Inserted row 124 into article: 2006-04-01 00:00:00
Inserted row 125 into article: 2006-05-01 00:00:00
Inserted row 126 into article: 2006-06-01 00:00:00
Inserted row 127 into article: 2006-07-01 00:00:00
Inserted row 128 into article: 2006-08-01 00:00:00
Inserted row 129 into article: 2006-09-01 00:00:00
Inserted row 130 into article: 2006-10-01 00:00:00
Inserted row 131 into article: 2006-11-01 00:00:00
Inserted row 132 into article: 2006-12-01 00:00:00
Inserted row 133 into article: 2007-01-01 00:00:00
Inserted row 134 into article: 2007-02-01 00:00:00
Inserted row 135 into article: 2007-03-01 00:00:00
Inserted row 136 into article: 2007-04-01 00:00:00
Inserted row 137 into article: 2007-05-01 00:00:00
Inserted row 138 into article: 2007-06-01 00:00:00
Inserted row 139 into article: 2007-07-01 00:00:00
Inserted row 140 into article: 2007-08-01 00:00:00
Inserted row 141 into article: 2007-09-01 00:00:00
Inserted row 142 into article: 2007-10-01 00:00:00
Inserted row 143 into article: 2007-11-01 00:00:00
Inserted row 144 into article: 2007-12-01 00:00:00
Inserted row 145 into article: 2008-01-01 00:00:00
Inserted row 146 into article: 2008-02-01 00:00:00
Inserted row 147 into article: 2008-03-01 00:00:00
Inserted row 148 into article: 2008-04-01 00:00:00
Inserted row 149 into article: 2008-05-01 00:00:00
Inserted row 150 into article: 2008-06-01 00:00:00
Inserted row 151 into article: 2008-07-01 00:00:00
Inserted row 152 into article: 2008-08-01 00:00:00
Inserted row 153 into article: 2008-09-01 00:00:00
Inserted row 154 into article: 2008-10-01 00:00:00
Inserted row 155 into article: 2008-11-01 00:00:00
Inserted row 156 into article: 2008-12-01 00:00:00
Inserted row 157 into article: 2009-01-01 00:00:00
Inserted row 158 into article: 2009-02-01 00:00:00
Inserted row 159 into article: 2009-03-01 00:00:00
Inserted row 160 into article: 2009-04-01 00:00:00
Inserted row 161 into article: 2009-05-01 00:00:00
Inserted row 162 into article: 2009-06-01 00:00:00
Inserted row 163 into article: 2009-07-01 00:00:00
Inserted row 164 into article: 2009-08-01 00:00:00
Inserted row 165 into article: 2009-09-01 00:00:00
Inserted row 166 into article: 2009-10-01 00:00:00
Inserted row 167 into article: 2009-11-01 00:00:00
Inserted row 168 into article: 2009-12-01 00:00:00
Inserted row 169 into article: 2010-01-01 00:00:00
Inserted row 170 into article: 2010-02-01 00:00:00
Inserted row 171 into article: 2010-03-01 00:00:00
Inserted row 172 into article: 2010-04-01 00:00:00
Inserted row 173 into article: 2010-05-01 00:00:00
Inserted row 174 into article: 2010-06-01 00:00:00
Inserted row 175 into article: 2010-07-01 00:00:00
Inserted row 176 into article: 2010-08-01 00:00:00
Inserted row 177 into article: 2010-09-01 00:00:00
Inserted row 178 into article: 2010-10-01 00:00:00
Inserted row 179 into article: 2010-11-01 00:00:00
Inserted row 180 into article: 2010-12-01 00:00:00
Inserted row 181 into article: 2011-01-01 00:00:00
Inserted row 182 into article: 2011-02-01 00:00:00
Inserted row 183 into article: 2011-03-01 00:00:00
Inserted row 184 into article: 2011-04-01 00:00:00
Inserted row 185 into article: 2011-05-01 00:00:00
Inserted row 186 into article: 2011-06-01 00:00:00
Inserted row 187 into article: 2011-07-01 00:00:00
Inserted row 188 into article: 2011-08-01 00:00:00
Inserted row 189 into article: 2011-09-01 00:00:00
Inserted row 190 into article: 2011-10-01 00:00:00
Inserted row 191 into article: 2011-11-01 00:00:00
Inserted row 192 into article: 2011-12-01 00:00:00
Inserted row 193 into article: 2012-01-01 00:00:00
Inserted row 194 into article: 2012-02-01 00:00:00
Inserted row 195 into article: 2012-03-01 00:00:00
Inserted row 196 into article: 2012-04-01 00:00:00
Inserted row 197 into article: 2012-05-01 00:00:00
Inserted row 198 into article: 2012-06-01 00:00:00
Inserted row 199 into article: 2012-07-01 00:00:00
Inserted row 200 into article: 2012-08-01 00:00:00
Inserted row 201 into article: 2012-09-01 00:00:00
Inserted row 202 into article: 2012-10-01 00:00:00
Inserted row 203 into article: 2012-11-01 00:00:00
Inserted row 204 into article: 2012-12-01 00:00:00
Inserted row 205 into article: 2013-01-01 00:00:00
Inserted row 206 into article: 2013-02-01 00:00:00
Inserted row 207 into article: 2013-03-01 00:00:00
Inserted row 208 into article: 2013-04-01 00:00:00
Inserted row 209 into article: 2013-05-01 00:00:00
Inserted row 210 into article: 2013-06-01 00:00:00
Inserted row 211 into article: 2013-07-01 00:00:00
Inserted row 212 into article: 2013-08-01 00:00:00
Inserted row 213 into article: 2013-09-01 00:00:00
Inserted row 214 into article: 2013-10-01 00:00:00
Inserted row 215 into article: 2013-11-01 00:00:00
Inserted row 216 into article: 2013-12-01 00:00:00
Inserted row 217 into article: 2014-01-01 00:00:00
Inserted row 218 into article: 2014-02-01 00:00:00
Inserted row 219 into article: 2014-03-01 00:00:00
Inserted row 220 into article: 2014-04-01 00:00:00
Inserted row 221 into article: 2014-05-01 00:00:00
Inserted row 222 into article: 2014-06-01 00:00:00
Inserted row 223 into article: 2014-07-01 00:00:00
Inserted row 224 into article: 2014-08-01 00:00:00
Inserted row 225 into article: 2014-09-01 00:00:00
Inserted row 226 into article: 2014-10-01 00:00:00
Inserted row 227 into article: 2014-11-01 00:00:00
Inserted row 228 into article: 2014-12-01 00:00:00
Inserted row 229 into article: 2015-01-01 00:00:00
Inserted row 230 into article: 2015-02-01 00:00:00
Inserted row 231 into article: 2015-03-01 00:00:00
Inserted row 232 into article: 2015-04-01 00:00:00
Inserted row 233 into article: 2015-05-01 00:00:00
Inserted row 234 into article: 2015-06-01 00:00:00
Inserted row 235 into article: 2015-07-01 00:00:00
Inserted row 236 into article: 2015-08-01 00:00:00
Inserted row 237 into article: 2015-09-01 00:00:00
Inserted row 238 into article: 2015-10-01 00:00:00
Inserted row 239 into article: 2015-11-01 00:00:00
Inserted row 240 into article: 2015-12-01 00:00:00
Inserted row 241 into article: 2016-01-01 00:00:00
Inserted row 242 into article: 2016-02-01 00:00:00
Inserted row 243 into article: 2016-03-01 00:00:00
Inserted row 244 into article: 2016-04-01 00:00:00
Inserted row 245 into article: 2016-05-01 00:00:00
Inserted row 246 into article: 2016-06-01 00:00:00
Inserted row 247 into article: 2016-07-01 00:00:00
Inserted row 248 into article: 2016-08-01 00:00:00
Inserted row 249 into article: 2016-09-01 00:00:00
Inserted row 250 into article: 2016-10-01 00:00:00
Inserted row 251 into article: 2016-11-01 00:00:00
Inserted row 252 into article: 2016-12-01 00:00:00
Inserted row 253 into article: 2017-01-01 00:00:00
Inserted row 254 into article: 2017-02-01 00:00:00
Inserted row 255 into article: 2017-03-01 00:00:00
Inserted row 256 into article: 2017-04-01 00:00:00
Inserted row 257 into article: 2017-05-01 00:00:00
Inserted row 258 into article: 2017-06-01 00:00:00
Inserted row 259 into article: 2017-07-01 00:00:00
Inserted row 260 into article: 2017-08-01 00:00:00
Inserted row 261 into article: 2017-09-01 00:00:00
Inserted row 262 into article: 2017-10-01 00:00:00
Inserted row 263 into article: 2017-11-01 00:00:00
Inserted row 264 into article: 2017-12-01 00:00:00
Inserted row 265 into article: 2018-01-01 00:00:00
Inserted row 266 into article: 2018-02-01 00:00:00
Inserted row 267 into article: 2018-03-01 00:00:00
Inserted row 268 into article: 2018-04-01 00:00:00
Inserted row 269 into article: 2018-05-01 00:00:00
Inserted row 270 into article: 2018-06-01 00:00:00
Inserted row 271 into article: 2018-07-01 00:00:00
Inserted row 272 into article: 2018-08-01 00:00:00
Inserted row 273 into article: 2018-09-01 00:00:00
Inserted row 274 into article: 2018-10-01 00:00:00
Inserted row 275 into article: 2018-11-01 00:00:00
Inserted row 276 into article: 2018-12-01 00:00:00
Inserted row 277 into article: 2019-01-01 00:00:00
Inserted row 278 into article: 2019-02-01 00:00:00
Inserted row 279 into article: 2019-03-01 00:00:00
Inserted row 280 into article: 2019-04-01 00:00:00
Inserted row 281 into article: 2019-05-01 00:00:00
Inserted row 282 into article: 2019-06-01 00:00:00
Inserted row 283 into article: 2019-07-01 00:00:00
Inserted row 284 into article: 2019-08-01 00:00:00
Inserted row 285 into article: 2019-09-01 00:00:00
Inserted row 286 into article: 2019-10-01 00:00:00
Inserted row 287 into article: 2019-11-01 00:00:00
Inserted row 288 into article: 2019-12-01 00:00:00
Inserted row 289 into article: 2020-01-01 00:00:00
Inserted row 290 into article: 2020-02-01 00:00:00
Inserted row 291 into article: 2020-03-01 00:00:00
Inserted row 292 into article: 2020-04-01 00:00:00
Inserted row 293 into article: 2020-05-01 00:00:00
Inserted row 294 into article: 2020-06-01 00:00:00
Inserted row 295 into article: 2020-07-01 00:00:00
Inserted row 296 into article: 2020-08-01 00:00:00
Inserted row 297 into article: 2020-09-01 00:00:00
Inserted row 298 into article: 2020-10-01 00:00:00
Inserted row 299 into article: 2020-11-01 00:00:00
Inserted row 300 into article: 2020-12-01 00:00:00
Inserted row 301 into article: 2021-01-01 00:00:00
Inserted row 302 into article: 2021-02-01 00:00:00
Inserted row 303 into article: 2021-03-01 00:00:00
Inserted row 304 into article: 2021-04-01 00:00:00
Inserted row 305 into article: 2021-05-01 00:00:00
Inserted row 306 into article: 2021-06-01 00:00:00
Inserted row 307 into article: 2021-07-01 00:00:00
Inserted row 308 into article: 2021-08-01 00:00:00
Inserted row 309 into article: 2021-09-01 00:00:00
Inserted row 310 into article: 2021-10-01 00:00:00
Inserted row 311 into article: 2021-11-01 00:00:00
Inserted row 312 into article: 2021-12-01 00:00:00
Inserted row 313 into article: 2022-01-01 00:00:00
Inserted row 314 into article: 2022-02-01 00:00:00
Inserted row 315 into article: 2022-03-01 00:00:00
Inserted row 316 into article: 2022-04-01 00:00:00
Inserted row 317 into article: 2022-05-01 00:00:00
Inserted row 318 into article: 2022-06-01 00:00:00
Inserted row 319 into article: 2022-07-01 00:00:00
Inserted row 320 into article: 2022-08-01 00:00:00
Inserted row 321 into article: 2022-09-01 00:00:00
Inserted row 322 into article: 2022-10-01 00:00:00
Inserted row 323 into article: 2022-11-01 00:00:00
Inserted row 324 into article: 2022-12-01 00:00:00
Inserted row 325 into article: 2023-01-01 00:00:00
Inserted row 326 into article: 2023-02-01 00:00:00
Inserted row 327 into article: 2023-03-01 00:00:00
Inserted row 328 into article: 2023-04-01 00:00:00
Inserted row 329 into article: 2023-05-01 00:00:00
Inserted row 330 into article: 2023-06-01 00:00:00
Inserted row 331 into article: 2023-07-01 00:00:00
Inserted row 332 into article: 2023-08-01 00:00:00
Inserted row 333 into article: 2023-09-01 00:00:00
Inserted row 334 into article: 2023-10-01 00:00:00
Inserted row 335 into article: 2023-11-01 00:00:00
Inserted row 336 into article: 2023-12-01 00:00:00
Inserted row 337 into article: 2024-01-01 00:00:00
Inserted row 338 into article: 2024-02-01 00:00:00
Inserted row 339 into article: 2024-03-01 00:00:00
Inserted row 340 into article: 2024-04-01 00:00:00
Inserted row 341 into article: 2024-05-01 00:00:00
Inserted row 342 into article: 2024-06-01 00:00:00
Inserted row 343 into article: 2024-07-01 00:00:00
Inserted row 344 into article: 2024-08-01 00:00:00